*{
    margin:0;
    padding:0;
}

header, footer {
    border-style: solid;
    background-color: #D9D9D9;
}

header, footer, main {
    width: 70%;
    margin: 0 auto;
    padding: 2rem;
}

header h1 {
    margin-left: 15%;
    font-size: 40px;
    border-bottom: solid;

}

header {
    margin-top: 10px;
}

img {
    border-radius: 15px;
    height: 200px;
    width: 200px;
}

h1, h2, footer {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h2 {
    border-bottom: solid;
}

main li {
    margin-left: 10%;
    margin-top: 1%;
}

main p {
    font-family: 'Roboto', sans-serif;
}

a {
    color: black;
}

footer p {
    font-size: 15px;
}

footer {
    text-align: center;
}