table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 10px #628CA6;
    font-family: 'Ubuntu', sans-serif;
}

table, th, td {
    border: 1px solid lightgray;
    border-collapse: collapse;
  }

th, td {
padding: 10px;   
}

th {
font-size: 30px;
background-color: #80B9C1;
}

tr:nth-child(2n+3) {
    background-color: #E7F0ED;
}

tr:nth-child(2n+4) {
    background-color: #E8FFED;
}

tr:last-child {
background-color: #80B9C1;
font-size: 12px;
font-weight: bold;
}

tr:nth-child(6) td:nth-child(3) {
    background-color: #628CA6;
    color: white;
}

tr:nth-child(7) td:nth-child(1) {
font-style: italic;
}

.subheader{
font-size: 20px;
color: white;
background-color: #628CA6;
}
