@media screen and (min-width: 65em) {

    header {
        display: flex;
        justify-content: center;
    }

    .logo {
        height: 100px;
        margin-left: 0;
    }

    li a {
        padding: 0px 5rem;
    }
    
}