* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    margin: auto;
}

h1 {
    font-size: 65px;
    text-align: center;
    font-family: 'Prompt', sans-serif;
    font-style: bold;
    text-shadow: 3px 3px 3px #DFE1E2;
}

h2 {
    font-size: 25px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
}

div {
    margin: 1rem;
    margin-left: 10%;
    margin-right: 10%;
    display: block;
    background-color: #90D4F5;
    height: 200px;
    width: 80%;
    border: solid;
    border-radius: 10px;
    text-align: center;
}

footer {
    background-color: #EB5A5F;
    padding: 5%;
}

div img {
    height: 170px;
    width: auto;
    border-radius: 10px;
}