@media screen and (min-width: 40em) {
    /*medium screen, tablet size*/
        /* Header Things*/
        header {
            padding: 2rem;
            text-align: center;
            display: grid;
            grid-template-columns: 40% 60%;
            grid-template-rows: 50% 50%;
            background-color: white;
        }
    
        header h1 {
            margin: 0;
            font-size: 35px;
            text-align: left;
            grid-column: 2/3;
            grid-row: 1/2;
        }
    
        header h2 {
            margin: 0;
            grid-column: 2/3;
            grid-row: 2/3;
            text-align: left;
        }
    
        header img {
            position: absolute;
            left: 27%;
            top: 0;
        }
        /* Navigation Things */
    
        nav {
            position: static;
            top: 11rem;
            right: 0;
            width: 100%;
            display: flex;
            justify-content: center;
            background-color: #EB5A5F;
        }
    
        .navigation {
            list-style: none;
        }
    
        .navigation a {
            color: black;
            text-align: center;
        }
    
        .navigation h1 {
            display: none;
        }
    
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
        
        li {
            float: none;
        }
        
        li a {
            display: block;
            text-align: center;
            padding: 5px 18rem;
            text-decoration: none;
            font-size: 20px;
            font-family: 'Open Sans', sans-serif;
            color: black;
        }
    
        .menu h2 {
            display: block;
            font-size: 20px;
        }
    
        /* Hero Banner Things*/
    
        .hero-banner {
            margin-top: 3%;
        }
    
        .hero-banner-img {
            height: auto;
            width: 95%;
        }
    
        .hero-banner-txt {
            margin: 0;
        }
    
        /* Forecast Things */
    
        .forecast-grid {
            justify-content: center;
            margin: 2rem;
        }
        
        .weather-png {
            height: 100px;
        }
        
        .five-day-forecast div {
            height: 190px;
            width: 150px;
        }
            
        /* News Things*/
    
        .news-grid {
            display: flex;
            justify-content: center;
        }
    
        .news-grid div {
            height: 450px;
        }
    
        .news-h1 {
            font-size: 30px;
            text-align: center;
            padding: 1rem;
            margin-top: 3rem;
            width: 98%;
            margin-left: 0;
            background-color:#A2DAF6;
        } 
    }