h1 {
    margin-top: 20px;
}

.thanks-logo {
    height: 70px;
    margin-left: 8%;
}

.thanks-p {
    text-align: center;
    margin: 5% 25%;
    font-size: 12px;
    width: 50%;
}

p {
    text-align: center;
}

.button {
    display: flex;
    justify-content: center;
}

button {
    padding: 5px 20px;
    border: solid 1px #628395;
    border-radius: 5px;
    background-color: #C1CFD7;
    margin-bottom: 30px;
}

button:hover {
    box-shadow: 2px 2px 2px 2px lightgray;
}

td {
    border-bottom: none;
}

th {
    font-family: 'Bubblegum Sans', cursive;
    font-size: 18px;
    padding: 20px;
    text-align: center;
}

.submit-button {
    padding: 5px 20px;
    border: solid 1px #628395;
    border-radius: 5px;
    background-color: #C1CFD7;
}

.submit-button:hover {
    box-shadow: 2px 2px 2px 2px lightgray;
}

fieldset {
    display: flex;
    width: 97%;
    justify-content: center;
    margin: 2%;
    border-radius: 10px;
    border: solid 2px #628395;
}

.license-div {
    margin-left: 25%;
}

label {
    font-family: 'Open Sans';
}

input#type, input#date, input#period, input#number, input#text, input#phone {
    height: 50px;
}

.reservation-info {
    display: flex;
    justify-content: center;
}

.reservation-info-table td {
    border-bottom: none;
}

.reservation-info-table {
    text-align: left;
}

section {
    border: 1px solid lightgray;
    width: 60%;
    margin: 10%;
}