* {
    margin: 0;
}

.alert {
    padding: 15px;
    text-align: center;
    font-weight: bold;
    width: 98%;
    display: none;
}

body {
    width: 100%;
    margin: 0;
}

h1 {
    font-family: 'Fjalla One', sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
}



/* Header Things */

header {  
    display: grid;
    background-color:  #EB5A5F;
}

header img {
    position: absolute;
    text-align: right;
    height: 70px;
    width: auto;
    grid-column: 1/2;
    padding: 1rem;
    border-radius: 50%;
    
}

header h1 {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: 1.5rem;
    margin-left: 6rem;
}

header h2 {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: left;
    margin-left: 6rem;
}

#underline {
    background-color: #EF8084;
    height: 1rem;
}

/* Navigation Things */

nav {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.navigation {
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
    text-align: right;
    padding: 9px;
}

.navigation a {
    text-align: right;
    text-decoration: none;
    color: black;
    font-family: 'Open Sans', sans-serif;
}

.navigation li:hover {
    color: black;
    background-color: white;
}

.dots {
    font-size: 40px;
    font-family: 'Fjalla One', sans-serif;
}

.navigation h2 {
    display: none;
}

li a:hover {
    background-color: white;
}

ul {
    background-color: #EB5A5F;
}

.responsive li {
    display: block;
}

.menu {
    font-size: 40px;
}

.active {
    color:lightgray; 
}

/* Hero Banner Things*/

.hero-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0px;
}

.hero-banner-img {
    object-fit: cover;
    width: 100%;
    height: 500px;
}

.hero-banner-txt {
    background-color: white;
    height: 450px;
    width: 300px;
    padding: 10px;
    position: absolute;
}

.hero-banner-h2 {
    font-size: 25px;
    border-bottom: solid black;
    font-family: 'Fjalla One', sans-serif;
}

.hero-banner-p {
    margin-top: 10%;
    margin-bottom: 10%;
}

.weather-summary {
    padding: 10px;
}

.weather-summary h2 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.data-type {
    padding: 5px;
}

/* Forecast Things */

.header {
    background-color: #90d4f5;
    box-shadow: 1px 1px 2px #51c4f1;
}

.section-h1 {
    font-size: 25px;
    text-align: left;
    padding: .5rem;
    margin-left: 2rem;
    font-family: 'Fjalla One', sans-serif;
}

.forecast-grid {
    display: flex;
    background-color: #E0E0E0;
    margin: 10px;
}

.weather-png {
    border-radius: 30px;
    width: 80%;
    object-fit: cover;
}

.forecast {
    text-align: center;
    margin-left: 4px;
}

.forecast-day {
    font-family: 'Fjalla One', sans-serif;
    font-size: 15px;
    padding: 15px 5px;
}

.five-day-forecast p {
    font-size: 15px;
}

/* News Things*/

.news-grid {
    margin: 2%;
    padding: 20px;
}

.news-article-h1 {
    font-size: 20px;
    margin: 20px 0px;
    font-family: 'Fjalla One', sans-serif;
}

.article-content-div {
    display: flex;
}

.news-article-img {
    margin: 5px;
    height: 200px;
    width: 300px;
    object-fit: cover;
} 

.news-p {
    margin: 15px;
}

/* Contact Things */

.contact-header {
    background-color: #90d4f5;
    text-align: center;
    padding: 20px;
    border-bottom: 3px dotted gray;
    font-family: 'Fjalla One', sans-serif;
}

.contact-div {
    display: grid;
    grid-template-columns: 60% 1fr;
    background-color: #90d4f5;
}

.map {
    margin: 10px 10%;
    width: 80%;
    height: 90%;
    object-fit: cover;
}

.contact-info-div {
    margin-top: 10%;
}

.contact-info-div p {
    padding: 5px;
}

.social-logo {
    height: 30px;
    margin: 5px;
    border-radius: 20px;
}

/* Footer Things */

footer {
    background-color: #EB5A5F;
    font-family: 'Lato', sans-serif;
    text-align: center;
    padding: 10px;
}