@media screen and (min-width: 40em) {
    /*medium screen, tablet size*/
        /* Header Things*/
        header {
            padding: 2rem;
            text-align: center;
            display: grid;
            grid-template-columns: 40% 60%;
            grid-template-rows: 50% 50%;
            background-color: white;
        }
    
        header h1 {
            margin: 0;
            font-size: 35px;
            text-align: left;
            grid-column: 2/3;
            grid-row: 1/2;
        }
    
        header h2 {
            margin: 5px 0px;
            grid-column: 2/3;
            grid-row: 2/3;
            text-align: left;
            display: block;
        }
    
        header img {
            position: absolute;
            left: 27%;
            top: 0;
            height: 100px;
        }
        /* Navigation Things */
    
        nav {
            position: static;
            top: 11rem;
            right: 0;
            width: 100%;
            display: flex;
            justify-content: center;
            background-color: #EB5A5F;
        }
    
        .navigation {
            list-style: none;
        }
    
        .navigation a {
            color: black;
            text-align: center;
        }

        .navigation h2 {
            display: block;
            font-size: 20px;
            font-weight: bold;
        }
    
        .navigation h3 {
            display: none;
        }
    
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
        
        li {
            float: none;
        }
        
        li a {
            display: block;
            text-align: center;
            padding: 5px 18rem;
            text-decoration: none;
            font-size: 20px;
            font-family: 'Open Sans', sans-serif;
            color: black;
        }
    
        .menu h1 {
            display: block;
            font-size: 20px;
        }
    
        /* Hero Banner Things*/
    
        .hero-banner-img {
            width: 100%;
            height: 800px;
        }
    
        .hero-banner-txt {
            margin: 0;
        }
    
        /* Forecast Things */
    
        .forecast-grid {
            justify-content: center;
            margin: 2rem;
        }

        .forecast {
            padding: 10px 5%;
        }
        
        .weather-png {
            height: 100px;
        }

        .map {
            margin: 10px 25%;
            width: 50%;
            object-fit: cover;
        }
            
        /* News Things */

        .news-article-img {
            margin: 0% 35%;
            height: 200px;
            width: 200px;
            border-radius: 50%;
            object-fit: cover;
        }

        .news-grid p {
            text-align: center;
        }

        .news-article-h1 {
            font-size: 20px;
            margin: 20px 0px;
            font-family: 'Fjalla One', sans-serif;
            text-align: center;
        }

        /* Contact Things */



    }