@media (min-width:60em) {
    /*large screen desktop size*/
    
        /* Header Things*/
    
        header img {
            grid-column: 2/3;
            grid-row: 1/3;
            padding: 10px;
            height: 100px;
            margin-left: 30px;
        }
    
        header {
            padding: 2rem;
            text-align: center;
            grid-template-columns: 40% 60%;
            grid-template-rows: 50% 50%;
        }
    
        header h1 {
            font-size: 35px;
            text-align: left;
            grid-column: 2/3;
            grid-row: 1/2;
        }
    
        header h2 {
            text-align: left;
            grid-column: 2/3;
            grid-row: 2/3;
            display: block;
        }
    
        /* Navigation Things */
    
        nav {
          overflow: hidden;
          background-color: #EB5A5F;
        }
    
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          display: flex;
          justify-content: center;
        }
        
        li {
          float: left;
        }
    
        li a {
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
          font-size: 20px;
          color: black;
        }
    
        .navigation li {
            text-align: right;
            padding: 1px;
            display: block;
        }
    
        .menu {
            display: none;
        }

  /* Update Things*/

  .covid-p {
    position: relative;
    z-index: 1;
    margin: 20% 15%;
    font-family: 'Open Sans', sans-serif;
  }

  .boxes {
    display: flex;
    justify-content: center;
    padding: 5px;
    height: 380px;
  }

  .boxes div {
    background-color: white;
    margin: 5px;
    width: 100%;
  }

  .boxes section h2 {
    font-family: 'Fjalla One', sans-serif;
    margin-left: 0px;
    margin-bottom: 15px;
  }

  .boxes section {
    display: block;
  }

  .idaho-img {
    height: 320px;
    margin-top: 5%;
  }

  .img0 {
    margin-left: 0%;
  }

  .img2 {
  grid-column: 2/3;
  grid-row: 1/3;
  margin-left: 0%;
  margin-top: 3%;
  }
}