@media screen and (min-width: 50em) {
    /*medium screen, tablet size*/
        /* Header Things*/
        header {
            padding: 2rem;
            text-align: center;
            display: grid;
            grid-template-columns: 40% 60%;
            grid-template-rows: 50% 50%;
            background-color: white;
        }
    
        header h1 {
            margin: 0;
            font-size: 35px;
            text-align: left;
            grid-column: 2/3;
            grid-row: 1/2;
        }
    
        header h2 {
            margin: 5px 0px;
            grid-column: 2/3;
            grid-row: 2/3;
            text-align: left;
        }
    
        header img {
            position: absolute;
            left: 27%;
            top: 0;
        }
        /* Navigation Things */
    
        nav {
            position: static;
            top: 11rem;
            right: 0;
            width: 100%;
            display: flex;
            justify-content: center;
            background-color: #EB5A5F;
        }
    
        .navigation {
            list-style: none;
        }
    
        .navigation a {
            color: black;
            text-align: center;
        }


.navigation h2 {
    display: block;
    font-size: 20px;
    font-weight: bold;
}
    
        .navigation h3 {
            display: none;
        }
    
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
        
        li {
            float: none;
        }
        
        li a {
            display: block;
            text-align: center;
            padding: 5px 18rem;
            text-decoration: none;
            font-size: 20px;
            font-family: 'Open Sans', sans-serif;
            color: black;
        }
    
        .menu h1 {
            display: block;
            font-size: 20px;
        }


        .general-updates {
            width: 80%;
            margin-left: 10%;
            margin-top: 5%;
        }

        .facebook-img {
            height: 80%;
            border-radius: 10px;
        }

        .idaho-img {
            height: 260px;
            margin-top: 5%;
        }

        .city-updates {
            width: 80%;
            margin-left: 10%
        }

        .boxes {
            display: block;
            padding: 5px;
            height: 600px;
        }

        .boxes div{
            max-width: 100%;
            margin: 8px;
        } 
        
        button {
            width: 160px;
        }

        .boxes section {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 3em 2em 2em 2em;
            width: 80%;
            margin-left: 10%;
            margin-right: 10%;
        }

        .boxes section h2 {
            font-family: 'Fjalla One', sans-serif;
            margin-left: 100px;
        }

        .boxes section img {
            height: 150px;
        }

        .sodah2  {
            grid-column: 1/2;
            grid-row: 1/2;
        }

        .data2{
            grid-column: 1/2;
        }

        .img2 {
            grid-column: 2/3;
            grid-row: 1/3;
            margin-left: 30%;
            margin-top: 3%;
        }

        .prestonh2 {
            grid-column: 2/3;
            grid-row: 1/2;
            margin-left: 100px;
        }

        .data1 {
            grid-column: 2/3;
        }

        .img1 {
            grid-column: 1/2;
            grid-row: 1/3;
            margin-top: 3%;
        }

        .fishh2 {
            grid-column: 1/2;
            grid-row: 1/2;
        }

        .data {
            grid-column: 1/2;
        }

        .img0 {
            grid-column: 2/3;
            grid-row: 1/3;
            margin-left: 30%;
            margin-top: 3%;
        }

}